NLA.war/wsdl/InstantPrint.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://instantPrint.ipe.skilrock.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InstantPrint" targetNamespace="http://instantPrint.ipe.skilrock.com/">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jaxb.dev.java.net/array" version="1.0">
   <xs:complexType final="#all" name="stringArray">
    <xs:sequence>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://instantPrint.ipe.skilrock.com/" version="1.0">
   <xs:import namespace="http://jaxb.dev.java.net/array"/>
   <xs:element xmlns:ns2="http://instantPrint.ipe.skilrock.com/" name="cancelTicketProcess" type="ns2:cancelTicketProcess"/>
   <xs:complexType name="cancelTicketProcess">
    <xs:sequence>
     <xs:element xmlns:ns3="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="ticketBean" type="ns3:ticketPurchaseBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns4="http://instantPrint.ipe.skilrock.com/" name="ticketPurchaseBean" type="ns4:ticketPurchaseBean"/>
   <xs:complexType name="ticketPurchaseBean">
    <xs:sequence>
     <xs:element name="gameId" type="xs:int"/>
     <xs:element name="gameNo" type="xs:int"/>
     <xs:element minOccurs="0" name="gameName" type="xs:string"/>
     <xs:element minOccurs="0" name="ticketNo" type="xs:string"/>
     <xs:element name="partyId" type="xs:int"/>
     <xs:element minOccurs="0" name="partyType" type="xs:string"/>
     <xs:element name="userId" type="xs:int"/>
     <xs:element minOccurs="0" name="refMerId" type="xs:string"/>
     <xs:element minOccurs="0" name="purchaseTime" type="xs:long"/>
     <xs:element name="refTransId" type="xs:int"/>
     <xs:element minOccurs="0" name="purChannel" type="xs:string"/>
     <xs:element name="totalAmt" type="xs:double"/>
     <xs:element minOccurs="0" name="virnNo" type="xs:string"/>
     <xs:element minOccurs="0" name="imgList" type="xs:string"/>
     <xs:element minOccurs="0" name="saleStatus" type="xs:string"/>
     <xs:element minOccurs="0" name="prizeCode" type="xs:string"/>
     <xs:element name="advMsg">
      <xs:complexType>
       <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
         <xs:complexType>
          <xs:sequence>
           <xs:element minOccurs="0" name="key" type="xs:string"/>
           <xs:element xmlns:ns5="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="value" type="ns5:arrayList"/>
          </xs:sequence>
         </xs:complexType>
        </xs:element>
       </xs:sequence>
      </xs:complexType>
     </xs:element>
     <xs:element name="isSale" type="xs:boolean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrayList">
    <xs:complexContent>
     <xs:extension xmlns:ns6="http://instantPrint.ipe.skilrock.com/" base="ns6:abstractList">
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType abstract="true" name="abstractList">
    <xs:complexContent>
     <xs:extension xmlns:ns7="http://instantPrint.ipe.skilrock.com/" base="ns7:abstractCollection">
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType abstract="true" name="abstractCollection"/>
   <xs:element xmlns:ns8="http://instantPrint.ipe.skilrock.com/" name="cancelTicketProcessResponse" type="ns8:cancelTicketProcessResponse"/>
   <xs:complexType name="cancelTicketProcessResponse">
    <xs:sequence>
     <xs:element xmlns:ns9="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="return" type="ns9:ticketPurchaseBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns10="http://instantPrint.ipe.skilrock.com/" name="inventoryUpload" type="ns10:inventoryUpload"/>
   <xs:complexType name="inventoryUpload">
    <xs:sequence>
     <xs:element xmlns:ns11="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="invGameBean" type="ns11:gameInventoryDetailsBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns12="http://instantPrint.ipe.skilrock.com/" name="gameInventoryDetailsBean" type="ns12:gameInventoryDetailsBean"/>
   <xs:complexType name="gameInventoryDetailsBean">
    <xs:sequence>
     <xs:element name="gameNo" type="xs:int"/>
     <xs:element minOccurs="0" name="gameName" type="xs:string"/>
     <xs:element minOccurs="0" name="virnFile" type="xs:string"/>
     <xs:element minOccurs="0" name="packFrom" type="xs:string"/>
     <xs:element minOccurs="0" name="packTo" type="xs:string"/>
     <xs:element minOccurs="0" name="startDate" type="xs:long"/>
     <xs:element minOccurs="0" name="saleEndDate" type="xs:long"/>
     <xs:element minOccurs="0" name="pwtEndDate" type="xs:long"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns13="http://instantPrint.ipe.skilrock.com/" name="inventoryUploadResponse" type="ns13:inventoryUploadResponse"/>
   <xs:complexType name="inventoryUploadResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns14="http://instantPrint.ipe.skilrock.com/" name="newGameUpload" type="ns14:newGameUpload"/>
   <xs:complexType name="newGameUpload">
    <xs:sequence>
     <xs:element xmlns:ns15="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="gameBean" type="ns15:gameBasicDetailBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns16="http://instantPrint.ipe.skilrock.com/" name="gameBasicDetailBean" type="ns16:gameBasicDetailBean"/>
   <xs:complexType name="gameBasicDetailBean">
    <xs:sequence>
     <xs:element name="gameId" type="xs:int"/>
     <xs:element name="gameNo" type="xs:int"/>
     <xs:element minOccurs="0" name="gameName" type="xs:string"/>
     <xs:element name="ticketPrice" type="xs:double"/>
     <xs:element minOccurs="0" name="startDate" type="xs:long"/>
     <xs:element minOccurs="0" name="saleEndDate" type="xs:long"/>
     <xs:element minOccurs="0" name="pwtEndDate" type="xs:long"/>
     <xs:element name="noOfBooks" type="xs:int"/>
     <xs:element name="noOfTicketsPerBook" type="xs:int"/>
     <xs:element name="noOfBooksPerPack" type="xs:int"/>
     <xs:element minOccurs="0" name="gameStatus" type="xs:string"/>
     <xs:element minOccurs="0" name="rankFile" type="xs:string"/>
     <xs:element name="digitsOfPack" type="xs:int"/>
     <xs:element name="digitsOfBook" type="xs:int"/>
     <xs:element name="digitsOfTicket" type="xs:int"/>
     <xs:element name="digitsOfVirn" type="xs:int"/>
     <xs:element minOccurs="0" name="imgFile" type="xs:string"/>
     <xs:element minOccurs="0" name="gameType" type="xs:string"/>
     <xs:element minOccurs="0" name="printType" type="xs:string"/>
     <xs:element minOccurs="0" name="xmlScheme" type="xs:string"/>
     <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns17="http://instantPrint.ipe.skilrock.com/" name="newGameUploadResponse" type="ns17:newGameUploadResponse"/>
   <xs:complexType name="newGameUploadResponse">
    <xs:sequence>
     <xs:element xmlns:ns18="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="return" type="ns18:gameBasicDetailBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns19="http://instantPrint.ipe.skilrock.com/" name="onStartGameData" type="ns19:onStartGameData"/>
   <xs:complexType name="onStartGameData"/>
   <xs:element xmlns:ns20="http://instantPrint.ipe.skilrock.com/" name="onStartGameDataResponse" type="ns20:onStartGameDataResponse"/>
   <xs:complexType name="onStartGameDataResponse">
    <xs:sequence>
     <xs:element xmlns:ns21="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="return" type="ns21:startGameBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="startGameBean">
    <xs:sequence>
     <xs:element xmlns:ns22="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="gameBean" type="ns22:gameBean"/>
     <xs:element name="gameMap">
      <xs:complexType>
       <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
         <xs:complexType>
          <xs:sequence>
           <xs:element minOccurs="0" name="key" type="xs:int"/>
           <xs:element xmlns:ns23="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="value" type="ns23:gameBean"/>
          </xs:sequence>
         </xs:complexType>
        </xs:element>
       </xs:sequence>
      </xs:complexType>
     </xs:element>
     <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns24="http://instantPrint.ipe.skilrock.com/" name="gameBean" type="ns24:gameBean"/>
   <xs:complexType name="gameBean">
    <xs:sequence>
     <xs:element name="gameId" type="xs:int"/>
     <xs:element name="gameNo" type="xs:int"/>
     <xs:element minOccurs="0" name="gameName" type="xs:string"/>
     <xs:element name="ticketPrice" type="xs:double"/>
     <xs:element minOccurs="0" name="startDate" type="xs:long"/>
     <xs:element minOccurs="0" name="saleEndDate" type="xs:long"/>
     <xs:element minOccurs="0" name="pwtEndDate" type="xs:long"/>
     <xs:element minOccurs="0" name="gameStatus" type="xs:string"/>
     <xs:element name="activeBookMap">
      <xs:complexType>
       <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
         <xs:complexType>
          <xs:sequence>
           <xs:element minOccurs="0" name="key" type="xs:string"/>
           <xs:element minOccurs="0" name="value" type="xs:int"/>
          </xs:sequence>
         </xs:complexType>
        </xs:element>
       </xs:sequence>
      </xs:complexType>
     </xs:element>
     <xs:element name="noOfTktPerBook" type="xs:int"/>
     <xs:element minOccurs="0" name="gameKey" type="xs:base64Binary"/>
     <xs:element name="packNoDigit" type="xs:int"/>
     <xs:element name="bookNoDigit" type="xs:int"/>
     <xs:element name="tktNoDigit" type="xs:int"/>
     <xs:element name="gameNoDigit" type="xs:int"/>
     <xs:element name="rankDigit" type="xs:int"/>
     <xs:element name="virnDigit" type="xs:int"/>
     <xs:element minOccurs="0" name="gamePrintScheme" type="xs:string"/>
     <xs:element minOccurs="0" name="isSample" type="xs:string"/>
     <xs:element minOccurs="0" name="textOrImage" type="xs:string"/>
     <xs:element name="imageSizeMap">
      <xs:complexType>
       <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
         <xs:complexType>
          <xs:sequence>
           <xs:element minOccurs="0" name="key" type="xs:string"/>
           <xs:element minOccurs="0" name="value" type="xs:int"/>
          </xs:sequence>
         </xs:complexType>
        </xs:element>
       </xs:sequence>
      </xs:complexType>
     </xs:element>
     <xs:element name="imageDataMap">
      <xs:complexType>
       <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
         <xs:complexType>
          <xs:sequence>
           <xs:element minOccurs="0" name="key" type="xs:string"/>
           <xs:element minOccurs="0" name="value" type="xs:base64Binary"/>
          </xs:sequence>
         </xs:complexType>
        </xs:element>
       </xs:sequence>
      </xs:complexType>
     </xs:element>
     <xs:element name="imageTypeMap">
      <xs:complexType>
       <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
         <xs:complexType>
          <xs:sequence>
           <xs:element minOccurs="0" name="key" type="xs:string"/>
           <xs:element minOccurs="0" name="value" type="ns1:stringArray"/>
          </xs:sequence>
         </xs:complexType>
        </xs:element>
       </xs:sequence>
      </xs:complexType>
     </xs:element>
     <xs:element minOccurs="0" name="gameLogoType" type="xs:string"/>
     <xs:element minOccurs="0" name="gameLogoCode" type="xs:string"/>
     <xs:element minOccurs="0" name="prizeLogoType" type="xs:string"/>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="list" nillable="true" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns25="http://instantPrint.ipe.skilrock.com/" name="payPwtTicket" type="ns25:payPwtTicket"/>
   <xs:complexType name="payPwtTicket">
    <xs:sequence>
     <xs:element xmlns:ns26="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="pwtBean" type="ns26:pwtBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pwtBean">
    <xs:sequence>
     <xs:element minOccurs="0" name="claimStatus" type="xs:string"/>
     <xs:element name="gameId" type="xs:int"/>
     <xs:element minOccurs="0" name="gameName" type="xs:string"/>
     <xs:element name="gameNo" type="xs:int"/>
     <xs:element name="highPrize" type="xs:boolean"/>
     <xs:element minOccurs="0" name="isSold" type="xs:string"/>
     <xs:element minOccurs="0" name="message" type="xs:string"/>
     <xs:element minOccurs="0" name="messageCode" type="xs:string"/>
     <xs:element minOccurs="0" name="mobileNumber" type="xs:string"/>
     <xs:element name="prizeAmt" type="xs:double"/>
     <xs:element minOccurs="0" name="refNumber" type="xs:string"/>
     <xs:element name="regRequired" type="xs:boolean"/>
     <xs:element minOccurs="0" name="returnType" type="xs:string"/>
     <xs:element minOccurs="0" name="status" type="xs:string"/>
     <xs:element name="success" type="xs:boolean"/>
     <xs:element minOccurs="0" name="ticketMessage" type="xs:string"/>
     <xs:element minOccurs="0" name="ticketNo" type="xs:string"/>
     <xs:element minOccurs="0" name="ticketVerificationStatus" type="xs:string"/>
     <xs:element minOccurs="0" name="tktvalidity" type="xs:string"/>
     <xs:element minOccurs="0" name="updateTicketType" type="xs:string"/>
     <xs:element name="valid" type="xs:boolean"/>
     <xs:element minOccurs="0" name="validity" type="xs:string"/>
     <xs:element minOccurs="0" name="verificationStatus" type="xs:string"/>
     <xs:element minOccurs="0" name="virnNo" type="xs:string"/>
     <xs:element minOccurs="0" name="virnvalidity" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns27="http://instantPrint.ipe.skilrock.com/" name="payPwtTicketResponse" type="ns27:payPwtTicketResponse"/>
   <xs:complexType name="payPwtTicketResponse">
    <xs:sequence>
     <xs:element xmlns:ns28="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="return" type="ns28:pwtBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns29="http://instantPrint.ipe.skilrock.com/" name="reprintTicket" type="ns29:reprintTicket"/>
   <xs:complexType name="reprintTicket">
    <xs:sequence>
     <xs:element xmlns:ns30="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="ticketBean" type="ns30:ticketPurchaseBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns31="http://instantPrint.ipe.skilrock.com/" name="reprintTicketResponse" type="ns31:reprintTicketResponse"/>
   <xs:complexType name="reprintTicketResponse">
    <xs:sequence>
     <xs:element xmlns:ns32="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="return" type="ns32:ticketPurchaseBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns33="http://instantPrint.ipe.skilrock.com/" name="savePurchaseTicket" type="ns33:savePurchaseTicket"/>
   <xs:complexType name="savePurchaseTicket">
    <xs:sequence>
     <xs:element xmlns:ns34="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="ticketBean" type="ns34:ticketPurchaseBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns35="http://instantPrint.ipe.skilrock.com/" name="savePurchaseTicketResponse" type="ns35:savePurchaseTicketResponse"/>
   <xs:complexType name="savePurchaseTicketResponse">
    <xs:sequence>
     <xs:element xmlns:ns36="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="return" type="ns36:ticketPurchaseBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns37="http://instantPrint.ipe.skilrock.com/" name="saveStartGame" type="ns37:saveStartGame"/>
   <xs:complexType name="saveStartGame">
    <xs:sequence>
     <xs:element minOccurs="0" name="gameId" type="xs:int"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns38="http://instantPrint.ipe.skilrock.com/" name="saveStartGameResponse" type="ns38:saveStartGameResponse"/>
   <xs:complexType name="saveStartGameResponse">
    <xs:sequence>
     <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns39="http://instantPrint.ipe.skilrock.com/" name="updateClaimStatus" type="ns39:updateClaimStatus"/>
   <xs:complexType name="updateClaimStatus">
    <xs:sequence>
     <xs:element xmlns:ns40="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="pwtBean" type="ns40:pwtBean"/>
    </xs:sequence>
   </xs:complexType>
   <xs:element xmlns:ns41="http://instantPrint.ipe.skilrock.com/" name="updateClaimStatusResponse" type="ns41:updateClaimStatusResponse"/>
   <xs:complexType name="updateClaimStatusResponse">
    <xs:sequence>
     <xs:element xmlns:ns42="http://instantPrint.ipe.skilrock.com/" minOccurs="0" name="return" type="ns42:pwtBean"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
  </types>
  <message name="IInstantPrint_updateClaimStatusResponse">
    <part element="tns:updateClaimStatusResponse" name="updateClaimStatusResponse">
    </part>
  </message>
  <message name="IInstantPrint_reprintTicket">
    <part element="tns:reprintTicket" name="reprintTicket">
    </part>
  </message>
  <message name="IInstantPrint_saveStartGame">
    <part element="tns:saveStartGame" name="saveStartGame">
    </part>
  </message>
  <message name="IInstantPrint_inventoryUpload">
    <part element="tns:inventoryUpload" name="inventoryUpload">
    </part>
  </message>
  <message name="IInstantPrint_inventoryUploadResponse">
    <part element="tns:inventoryUploadResponse" name="inventoryUploadResponse">
    </part>
  </message>
  <message name="IInstantPrint_onStartGameData">
    <part element="tns:onStartGameData" name="onStartGameData">
    </part>
  </message>
  <message name="IInstantPrint_savePurchaseTicketResponse">
    <part element="tns:savePurchaseTicketResponse" name="savePurchaseTicketResponse">
    </part>
  </message>
  <message name="IInstantPrint_onStartGameDataResponse">
    <part element="tns:onStartGameDataResponse" name="onStartGameDataResponse">
    </part>
  </message>
  <message name="IInstantPrint_cancelTicketProcess">
    <part element="tns:cancelTicketProcess" name="cancelTicketProcess">
    </part>
  </message>
  <message name="IInstantPrint_cancelTicketProcessResponse">
    <part element="tns:cancelTicketProcessResponse" name="cancelTicketProcessResponse">
    </part>
  </message>
  <message name="IInstantPrint_reprintTicketResponse">
    <part element="tns:reprintTicketResponse" name="reprintTicketResponse">
    </part>
  </message>
  <message name="IInstantPrint_payPwtTicket">
    <part element="tns:payPwtTicket" name="payPwtTicket">
    </part>
  </message>
  <message name="IInstantPrint_newGameUpload">
    <part element="tns:newGameUpload" name="newGameUpload">
    </part>
  </message>
  <message name="IInstantPrint_updateClaimStatus">
    <part element="tns:updateClaimStatus" name="updateClaimStatus">
    </part>
  </message>
  <message name="IInstantPrint_payPwtTicketResponse">
    <part element="tns:payPwtTicketResponse" name="payPwtTicketResponse">
    </part>
  </message>
  <message name="IInstantPrint_newGameUploadResponse">
    <part element="tns:newGameUploadResponse" name="newGameUploadResponse">
    </part>
  </message>
  <message name="IInstantPrint_savePurchaseTicket">
    <part element="tns:savePurchaseTicket" name="savePurchaseTicket">
    </part>
  </message>
  <message name="IInstantPrint_saveStartGameResponse">
    <part element="tns:saveStartGameResponse" name="saveStartGameResponse">
    </part>
  </message>
  <portType name="IInstantPrint">
    <operation name="cancelTicketProcess" parameterOrder="cancelTicketProcess">
      <input message="tns:IInstantPrint_cancelTicketProcess">
    </input>
      <output message="tns:IInstantPrint_cancelTicketProcessResponse">
    </output>
    </operation>
    <operation name="inventoryUpload" parameterOrder="inventoryUpload">
      <input message="tns:IInstantPrint_inventoryUpload">
    </input>
      <output message="tns:IInstantPrint_inventoryUploadResponse">
    </output>
    </operation>
    <operation name="newGameUpload" parameterOrder="newGameUpload">
      <input message="tns:IInstantPrint_newGameUpload">
    </input>
      <output message="tns:IInstantPrint_newGameUploadResponse">
    </output>
    </operation>
    <operation name="onStartGameData" parameterOrder="onStartGameData">
      <input message="tns:IInstantPrint_onStartGameData">
    </input>
      <output message="tns:IInstantPrint_onStartGameDataResponse">
    </output>
    </operation>
    <operation name="payPwtTicket" parameterOrder="payPwtTicket">
      <input message="tns:IInstantPrint_payPwtTicket">
    </input>
      <output message="tns:IInstantPrint_payPwtTicketResponse">
    </output>
    </operation>
    <operation name="reprintTicket" parameterOrder="reprintTicket">
      <input message="tns:IInstantPrint_reprintTicket">
    </input>
      <output message="tns:IInstantPrint_reprintTicketResponse">
    </output>
    </operation>
    <operation name="savePurchaseTicket" parameterOrder="savePurchaseTicket">
      <input message="tns:IInstantPrint_savePurchaseTicket">
    </input>
      <output message="tns:IInstantPrint_savePurchaseTicketResponse">
    </output>
    </operation>
    <operation name="saveStartGame" parameterOrder="saveStartGame">
      <input message="tns:IInstantPrint_saveStartGame">
    </input>
      <output message="tns:IInstantPrint_saveStartGameResponse">
    </output>
    </operation>
    <operation name="updateClaimStatus" parameterOrder="updateClaimStatus">
      <input message="tns:IInstantPrint_updateClaimStatus">
    </input>
      <output message="tns:IInstantPrint_updateClaimStatusResponse">
    </output>
    </operation>
  </portType>
  <binding name="IInstantPrintBinding" type="tns:IInstantPrint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="cancelTicketProcess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="inventoryUpload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="newGameUpload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="onStartGameData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="payPwtTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="reprintTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="savePurchaseTicket">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveStartGame">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateClaimStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="InstantPrint">
    <port binding="tns:IInstantPrintBinding" name="InstantPrintServicePort">
      <soap:address location="http://neerajjain:8080/InstantPrintEngine"/>
    </port>
  </service>
</definitions>
