NLA.war/ctpwsdl/il-Infra-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- © 2011, Camelot Strategic Solutions Ltd. All rights reserved. -->
<xs:schema xmlns="http://ctp.cssl.com/il/xsd/Infra-v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ctp.cssl.com/il/xsd/Infra-v1.0" targetNamespace="http://ctp.cssl.com/il/xsd/Infra-v1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>
			Type definitions for types which are not specific to a service and are not header specific.
        </xs:documentation>
	</xs:annotation>
	<xs:simpleType name="UniqueIDType">
		<xs:annotation>
			<xs:documentation>SHA1 hash of CTPOutletID e.g. "2fd4e1c67a2d28fced849ee1bb76e7391b93eb12"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageTypeIDType">
		<xs:annotation>
			<xs:documentation>The MessageTypeID identifies the service that is being invoked.  e.g. "MobileElectronicTopUp".
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,40}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RetailerStoreIDType">
		<xs:annotation>
			<xs:documentation>The identifier for the store. e.g. "12345"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CTPOutletIDType">
		<xs:annotation>
			<xs:documentation>
Identifier for group of stores within a wholesale distributor. e.g. "123456"
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultCodeType">
		<xs:annotation>
			<xs:documentation>
CTP "simple" result code.  a.k.a. scenario code. This is a result code that is used to identify the outcome of the service call. It is suitable for determining message text displayed to an end user.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FaultInfoType">
		<xs:sequence>
			<xs:element name="Code" type="tns:ResultCodeType">
				<xs:annotation>
					<xs:documentation>Error code corresponding to the display message text. This is the CTP "simple" result code for determining text to be displayed to an end user.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Message">
				<xs:annotation>
					<xs:documentation>Error text for display.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2048"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferenceCode" type="tns:ResultCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional. For reference purposes. This is the underlying error code known as the CTP "master" result code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseBodyType">
		<xs:sequence>
			<xs:element name="ResultCode" type="tns:ResultCodeType">
				<xs:annotation>
					<xs:documentation>CTP "simple" result code.  a.k.a. scenario code. This is a result code that is used to identify the outcome of the service call. It is suitable for determining message text displayed to an end user.	</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageText" type="tns:MessageTextType">
				<xs:annotation>
					<xs:documentation>Message text associated with the result code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MoneyAmountType">
		<xs:annotation>
			<xs:documentation>A multiple of the smallest unit of the currency. e.g. pence for the currency code "GBP".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxExclusive value="4294967295"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCodeType">
		<xs:annotation>
			<xs:documentation>Currency code (ISO 4217) e.g. "GBP"
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MoneyType">
		<xs:sequence>
			<xs:element name="Amount" type="tns:MoneyAmountType">
				<xs:annotation>
					<xs:documentation>A multiple of the smallest unit of the currency. e.g. pence for the currency code "GBP".
			</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="tns:CurrencyCodeType">
				<xs:annotation>
					<xs:documentation>Currency code (ISO 4217) e.g. "GBP"
            </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MessageSequenceIDType">
		<xs:annotation>
			<xs:documentation>Identifier for the message e.g. "001231674243213535742356"
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,24}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProductIDType">
		<xs:annotation>
			<xs:documentation>
The ID of the product. e.g. "1004" which maps to an o2 top up voucher.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,24}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClientRequestIDType">
		<xs:annotation>
			<xs:documentation>Wholesale distributor host generated sequential transaction id. e.g. "1723432".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,24}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionTypeType">
		<xs:annotation>
			<xs:documentation>The type of transaction. e.g. "Payment".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Sale"/>
			<xs:enumeration value="Payment"/>
			<xs:enumeration value="Refund"/>
			<xs:enumeration value="Reversal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionIDType">
		<xs:annotation>
			<xs:documentation>The id for the transaction. e.g. "35139005".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PINNumberType">
		<xs:annotation>
			<xs:documentation>
The identifier for the voucher e.g. "839710066485".
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PANNumberType">
		<xs:annotation>
			<xs:documentation>
This is the card detail of the bill payment.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,50}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MobileNumberType">
		<xs:annotation>
			<xs:documentation>
				The mobile number.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,50}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotificationNumberType">
		<xs:annotation>
			<xs:documentation>
				The mobile number used for notification.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,50}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProviderTransactionReferenceType">
		<xs:annotation>
			<xs:documentation>
Response external reference ID (e.g. serial number).
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentMethodType">
		<xs:annotation>
			<xs:documentation>
The method of payment for the transaction. e.g. Cash
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cash"/>
			<xs:enumeration value="NoPayment"/>
			<xs:enumeration value="Card"/>
			<xs:enumeration value="EFT"/>
			<xs:enumeration value="Cheque"/>
			<xs:enumeration value="Stamp"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EntryMethodType">
		<xs:annotation>
			<xs:documentation>
The method of information capture of the transaction e.g.  "MagneticSwipe"
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MagneticSwipe"/>
			<xs:enumeration value="KeyEntryCustomerPresent"/>
			<xs:enumeration value="KeyEntry3FailedSwipes"/>
			<xs:enumeration value="EVoucher"/>
			<xs:enumeration value="TaleXus"/>
			<xs:enumeration value="BarCoded"/>
			<xs:enumeration value="KeyEntry3FailedScans"/>
			<xs:enumeration value="DlrtsKeyedTransaction"/>
			<xs:enumeration value="SmartCard"/>
			<xs:enumeration value="Contactless"/>
			<xs:enumeration value="Ivr"/>
			<xs:enumeration value="HhScan"/>
			<xs:enumeration value="HhManualEntry"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageTextType">
		<xs:annotation>
			<xs:documentation>
Message text associated with the result code.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProviderMessageType">
		<xs:annotation>
			<xs:documentation>
This is a message from the provider.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Track2Type">
		<xs:annotation>
			<xs:documentation>
This is the Track2 data.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SystemType">
		<xs:sequence>
			<xs:element name="Code">
				<xs:annotation>
					<xs:documentation>
The system code e.g. "CTP"
			</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Available" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
Whether the system is available: "true" or "false".
			</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductRequestBodyType">
		<xs:sequence>
			<xs:element name="ProductID" type="tns:ProductIDType">
				<xs:annotation>
					<xs:documentation>The ID of the product e.g. "1234-123456".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TopUpRequestBodyType">
		<xs:annotation>
			<xs:documentation>The body of a Top Up request.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:ProductRequestBodyType">
				<xs:sequence>
					<xs:element name="TopUpValue" type="tns:MoneyType">
						<xs:annotation>
							<xs:documentation>The value to top up.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProviderResponseBodyType">
		<xs:complexContent>
			<xs:extension base="tns:ResponseBodyType">
				<xs:sequence>
					<xs:element name="ProviderTransactionReference" type="tns:ProviderTransactionReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Used by service providers to send a further transaction reference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProviderMessage" type="tns:ProviderMessageType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This is a message from the provider.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionID" type="tns:TransactionIDType">
						<xs:annotation>
							<xs:documentation>The id for the transaction. e.g. "35139005".</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>