NLA.war/ctpwsdl/MobileVoucherTopUp-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- © 2011, Camelot Strategic Solutions Ltd. All rights reserved. -->
<wsdl:definitions xmlns:tns="http://ctp.cssl.com/il/wsdl/MobileVoucherTopUp-v1" xmlns:voucher="http://ctp.cssl.com/il/wsdl/Voucher-v1"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:v1_0="http://ctp.cssl.com/il/wsdl/MobileVoucherTopUp-v1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MobileVoucherTopUp-v1.0.wsdl" targetNamespace="http://ctp.cssl.com/il/wsdl/MobileVoucherTopUp-v1">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ctp.cssl.com/il/wsdl/MobileVoucherTopUp-v1.0" xmlns:hdr="http://ctp.cssl.com/il/xsd/CSHeaders-v1.0" xmlns:bdy="http://ctp.cssl.com/il/xsd/MobileVoucherTopUp-v1.0" xmlns:infra="http://ctp.cssl.com/il/xsd/Infra-v1.0">
			<xs:import namespace="http://ctp.cssl.com/il/xsd/CSHeaders-v1.0" schemaLocation="./il-CSHeaders-v1.0.xsd"/>
			<xs:import namespace="http://ctp.cssl.com/il/xsd/Voucher-v1.0" schemaLocation="./il-Voucher-v1.0.xsd"/>
			<xs:import namespace="http://ctp.cssl.com/il/xsd/Infra-v1.0" schemaLocation="./il-Infra-v1.0.xsd"/>
			<xs:import namespace="http://ctp.cssl.com/il/xsd/MobileVoucherTopUp-v1.0" schemaLocation="./il-MobileVoucherTopUp-v1.0.xsd"/>
			<xs:element name="FaultInfo" type="infra:FaultInfoType"/>
			<xs:element name="RequestHeader" type="hdr:RequestHeaderType"/>
			<xs:element name="ResponseHeader" type="hdr:ResponseHeaderType"/>
			<xs:element name="MobileVoucherTopUpRequest" type="bdy:MobileVoucherTopUpRequestBodyType"/>
			<xs:element name="MobileVoucherTopUpResponse" type="bdy:MobileVoucherTopUpResponseBodyType"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="faultInfo" element="v1_0:FaultInfo"/>
	</wsdl:message>
	<wsdl:message name="MobileVoucherTopUpRequestMessage">
		<wsdl:part name="requestHeader" element="v1_0:RequestHeader"/>
		<wsdl:part name="requestBody" element="v1_0:MobileVoucherTopUpRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="MobileVoucherTopUpResponseMessage">
		<wsdl:part name="responseHeader" element="v1_0:ResponseHeader"/>
		<wsdl:part name="responseBody" element="v1_0:MobileVoucherTopUpResponse"/>
	</wsdl:message>
	<wsdl:portType name="MobileVoucherTopUpPortType_v1_0">
		<wsdl:operation name="MobileVoucherTopUp">
			<wsdl:input message="tns:MobileVoucherTopUpRequestMessage"/>
			<wsdl:output message="tns:MobileVoucherTopUpResponseMessage"/>
			<wsdl:fault name="fault" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MobileVoucherTopUpBinding_v1_0" type="tns:MobileVoucherTopUpPortType_v1_0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" required="true"/>
		<wsdl:operation name="MobileVoucherTopUp">
			<soap:operation soapAction=""/>
			<wsdl:input message="tns:MobileVoucherTopUpRequest">
				<soap:body parts="requestBody" use="literal"/>
				<soap:header message="tns:MobileVoucherTopUpRequestMessage" part="requestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output message="tns:MobileVoucherTopUpResponse">
				<soap:body parts="responseBody" use="literal"/>
				<soap:header message="tns:MobileVoucherTopUpResponseMessage" part="responseHeader" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MobileVoucherTopUpBinding_v1_0">
		<wsdl:port name="PARTNER" binding="tns:MobileVoucherTopUpBinding_v1_0">
			<soap:address location="http://ctp.cssl.com/partner/MobileVoucherTopUp-v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>