NLA.war/ctpwsdl/Reversal-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (http://www.altova.com) by Jeremy Peet (Camelot Group Plc) -->
<!-- © 2011, Camelot Strategic Solutions Ltd. All rights reserved. -->
<wsdl:definitions xmlns:tns="http://ctp.cssl.com/il/wsdl/Reversal-v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:v1_0="http://ctp.cssl.com/il/wsdl/Reversal-v1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Reversal-v1.0.wsdl" targetNamespace="http://ctp.cssl.com/il/wsdl/Reversal-v1">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ctp.cssl.com/il/wsdl/Reversal-v1.0" xmlns:hdr="http://ctp.cssl.com/il/xsd/CSHeaders-v1.0" xmlns:bdy="http://ctp.cssl.com/il/xsd/Reversal-v1.0" xmlns:infra="http://ctp.cssl.com/il/xsd/Infra-v1.0">
			<xs:import namespace="http://ctp.cssl.com/il/xsd/CSHeaders-v1.0" schemaLocation="./il-CSHeaders-v1.0.xsd"/>
			<xs:import namespace="http://ctp.cssl.com/il/xsd/Reversal-v1.0" schemaLocation="./il-Reversal-v1.0.xsd"/>
			<xs:import namespace="http://ctp.cssl.com/il/xsd/Infra-v1.0" schemaLocation="./il-Infra-v1.0.xsd"/>
			<xs:element name="FaultInfo" type="infra:FaultInfoType"/>
			<xs:element name="RequestHeader" type="hdr:RequestHeaderType"/>
			<xs:element name="ResponseHeader" type="hdr:ResponseHeaderType"/>
			<xs:element name="ReversalRequest" type="bdy:ReversalRequestBodyType"/>
			<xs:element name="ReversalResponse" type="bdy:ReversalResponseBodyType"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="faultInfo" element="v1_0:FaultInfo"/>
	</wsdl:message>
	<wsdl:message name="ReversalRequestMessage">
		<wsdl:part name="requestHeader" element="v1_0:RequestHeader"/>
		<wsdl:part name="requestBody" element="v1_0:ReversalRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReversalResponseMessage">
		<wsdl:part name="responseHeader" element="v1_0:ResponseHeader"/>
		<wsdl:part name="responseBody" element="v1_0:ReversalResponse"/>
	</wsdl:message>
	<wsdl:portType name="ReversalPortType_v1_0">
		<wsdl:operation name="Reversal">
			<wsdl:input message="tns:ReversalRequestMessage"/>
			<wsdl:output message="tns:ReversalResponseMessage"/>
			<wsdl:fault name="fault" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReversalBinding_v1_0" type="tns:ReversalPortType_v1_0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" required="true"/>
		<wsdl:operation name="Reversal">
			<soap:operation soapAction=""/>
			<wsdl:input message="tns:ReversalRequest">
				<soap:body parts="requestBody" use="literal"/>
				<soap:header message="tns:ReversalRequestMessage" part="requestHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output message="tns:ReversalResponse">
				<soap:body parts="responseBody" use="literal"/>
				<soap:header message="tns:ReversalResponseMessage" part="responseHeader" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReversalBinding_v1_0">
		<wsdl:port name="PARTNER" binding="tns:ReversalBinding_v1_0">
			<soap:address location="http://ctp.cssl.com/partner/Reversal-v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>